
html,
body {
    font-size: 16px;
    padding: 30px;
    color: #444444;
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rokkitt, Helvetica, Arial, sans-serif;
}

section {
    margin: 20px 0;
    padding-bottom: 20px;
}

article:not(:last-child) {
    padding-bottom: 20px;
}

div:nth-child(4) {
    border-bottom: 2px solid #cf8a05;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

section h1 {
    color: #cf8a05;
}

#contactDetails ul {
    list-style: none;
}

.clear {
    clear: both;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

#name h1 {
    font-size: 2.5em;
    font-weight: 700;
}

#name h2 {
    font-size: 1.5em;
}

#headshot {
    width: 12.5%;
    float: left;
    margin-right: 30px;
}

#headshot img {
    width: 100%;
    border-radius: 50%;
}

#name {
    float: left;
}

#contactDetails {
    float: right;
}

#contactDetails ul li {
    font-size: 0.9em;
    margin-bottom: 3px;
}

.sectionTitle {
    float: left;
    width: 25%;
}

.sectionContent {
    float: right;
    width: 72.5%;
}

.sectionTitle h1 {
    font-style: italic;
    font-size: 1.5em;
}

.sectionContent h2 {
    font-size: 1.5em;
    margin-bottom: -2px;
}

.subDetails {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

.keySkills {
    list-style-type: none;
    column-count: 3;
    font-size: 1em;
}

.keySkills ul li {
    margin-bottom: 3px;
}
